<app-nav></app-nav>

<section class="home">
    <div class="content">
        <div class="superior">
            <img src="assets/persona.jpeg" alt="icono">
            <div class="loader">
                <div class="gray-line"></div>
                <div class="green-line"></div>
            </div>
        </div>
        <h1>Crear Cuenta</h1>

        <div class="form">
            <form #f="ngForm" (ngSubmit)="register()" novalidate>
            <label for="nombre">Nombre y Apellido</label>
            <input type="text" id="nombre" name="nombre" [(ngModel)]="nombre" required>
            <label for="nombreUsuario">Nombre de usuario</label>
            <input type="text" id="nombreUsuario" name="nombreUsuario" [(ngModel)]="nombreUsuario" required>
            <label for="password">Password</label>
            <input type="text" id="password" name="password" [(ngModel)]="password" required>
            <label for="email">Email</label>
            <input type="text" id="email" name="email" [(ngModel)]="email" required>
            

            <div class="check">
                <input type="checkbox" id="opcionesCheck" class="opciones-element">
                <label for="opcionesCheck" class="opciones-element">Quiero agregar mi nombre escogido y pronombre</label>

                <div class="opciones">
                    <div class="form-group">
                        <label for="nombre2">Nombre Escogido</label>
                        <input type="text" id="nombre2" name="nombre2" required>
                    </div>

                    <div class="form-group">
                        <label for="pronombre">Pronombre</label>
                        <div class="select-wrapper">
                            <select class="small-select" id="pronombre" name="pronombre">
                                <option value="opcion1">Ella</option>
                                <option value="opcion2">El</option>
                                <option value="opcion3">???</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>

        <!-- 
            <label for="celular" style="margin-top: 10px;">Celular</label>
            <div class="form-group">
                <div class="select-wrapper">
                    <select class="small-select">
                        <option value="opcion1">+54 </option>
                        <option value="opcion2">+11</option>
                        <option value="opcion3">???</option>
                    </select>
                </div>
                <input type="text" id="celular" name="celular" required>
            </div>

            <div class="form-group">
                <div class="select-wrapper">
                    <select class="small-select">
                        <option value="opcion1">DNI</option>
                        <option value="opcion2">Libreta</option>
                        <option value="opcion3">Pasaporte</option>
                    </select>
                </div>
                <input type="text" id="dni" name="dni" required>
            </div>


            <label for="nacimiento">Fecha de Nacimiento</label>
            <input type="date" name="fecha" id="nacimiento">
 -->
            <button class="orange-button" [disabled]="!f.valid">

            <i class="fas fa-sign-in-alt"></i> Crear Cuenta</button>
            </form>
        </div>

    </div>
</section>

 <app-footer></app-footer>