<footer class="footer">
  <footer>
    <div class="footer-icons">

        <div class="phone-icon">      
            <img src="assets/facebook.png" alt="Icono de teléfono">
            <span class="tooltip">Facebook</span>
        </div>
        
        
      
        <div class="phone-icon">
            <a routerLink="/dashboard">   
            <img src="assets/home-icon.png" alt="Icono de inicio">
            </a>
            <span class="tooltip">Home</span>
        </div>
     

      <div class="phone-icon">      
        <img src="assets/instagram.png"alt="Icono de Instagram">
        <span class="tooltip">Instagram</span>
      </div>
    
     
      <div class="phone-icon">      
        <img src="assets/llamada-telefonica.png" alt="Icono de teléfono">
        <span class="tooltip">Teléfono</span>
      </div>
    </div>
  </footer>
  </footer>
