
<app-nav></app-nav>

  <div class="card-container">
    <!-- Cards -->
    <!-- Se pueden repetir estas card para representar diferentes médicos -->
    <div class="card">
      <img src="assets/medico1.png" alt="Doctor's Photo">
      <h2>Dra. Julieta Perez</h2>
      <h2>Pediatra</h2>
      <h2>Mat-145636</h2>
      <span class="availability">Disponible <img src="assets/24horas.png" alt="Available"></span>

      <footer class="footer">
        <div class="footer-logo">
          <img src="assets/logo.png" alt="Icono de suma">
          <span class="medconecta">Ver Perfil</span>
        </div>
      </footer>    
    </div>
    <!-- Fin de las cards -->
      <!-- Se pueden repetir estas card para representar diferentes médicos -->
      <div class="card">
        <img src="assets/medicos-04.png" alt="Doctor's Photo">
        <h2>Dr. Carlos Garcia</h2>
      <h2>Clínico</h2>
      <h2>Mat-745936</h2>
      <span class="availability">Disponible <img src="assets/24horas.png" alt="Available"></span>

      <footer class="footer">
        <div class="footer-logo">
          <img src="assets/logo.png" alt="Icono de suma">
          <span class="medconecta">Ver Perfil</span>
        </div>
      </footer> 
      </div>
      <!-- Fin de las cards -->
       <!-- Se pueden repetir estas card para representar diferentes médicos -->
       <div class="card">
        <img src="assets/medicos-03.png" alt="Doctor's Photo">
        <h2>Dra. Lisa Diaz</h2>
      <h2>Traumatóloga</h2>
      <h2>Mat-245836</h2>
      <span class="availability">Disponible <img src="assets/24horas.png" alt="Available"></span>

      <footer class="footer">
        <div class="footer-logo">
          <img src="assets/logo.png" alt="Icono de suma">
          <span class="medconecta">Ver Perfil</span>
        </div>
      </footer> 
      </div>
      <!-- Fin de las cards -->
       <!-- Se pueden repetir estas card para representar diferentes médicos -->
       <div class="card">
        <img src="assets/medicos-05.png" alt="Doctor's Photo">
        <h2>Dr. Alejandro Oro</h2>
      <h2>Cardiólogo</h2>
      <h2>Mat-345636</h2>
      <span class="availability">Disponible <img src="assets/24horas.png" alt="Available"></span>

      <footer class="footer">
        <div class="footer-logo">
          <img src="assets/logo.png" alt="Icono de suma">
          <span class="medconecta">Ver Perfil</span>
        </div>
      </footer> 
      </div>
      <!-- Fin de las cards -->

       <!-- Se pueden repetir estas card para representar diferentes médicos -->
       <div class="card">
        <img src="assets/medicos-06.png" alt="Doctor's Photo">
        <h2>Dra. Lucy Lee </h2>
      <h2>Med. Familiar</h2>
      <h2>Mat-247436</h2>
      <span class="availability">Disponible <img src="assets/24horas.png" alt="Available"></span>

      <footer class="footer">
        <div class="footer-logo">
          <img src="assets/logo.png" alt="Icono de suma">
          <span class="medconecta">Ver Perfil</span>
        </div>
      </footer> 
      </div>
      <!-- Fin de las cards -->
       <!-- Se pueden repetir estas card para representar diferentes médicos -->
       <div class="card">
        <img src="assets/medicos-07.png" alt="Doctor's Photo">
        <h2>Dra. Diana Mir</h2>
      <h2>Odontóloga</h2>
      <h2>Mat-445636</h2>
      <span class="availability">Disponible <img src="assets/24horas.png" alt="Available"></span>

      <footer class="footer">
        <div class="footer-logo">
          <img src="assets/logo.png" alt="Icono de suma">
          <span class="medconecta">Ver Perfil</span>
        </div>
      </footer> 
      </div>
      <!-- Fin de las cards -->
      
  </div>
  <app-footer></app-footer>


