<section class="home">

    <div class="content1">
        <img src="/assets/icono.png" alt="icono" class="logo mr-2">
        <div class="texto">
            <div class="d-flex align-items-center">
                <h1 class="mb-0 mr-2">Med</h1>
                <h2 class="mb-0">Conecta</h2>
            </div>
            <p>Tu plataforma de salud digital</p>
        </div>
    </div>

    <div class="content2 text-center py-3">
        <button routerLink="/login-consultas" class="orange-button">Iniciar Sesión</button>
        <button routerLink="/register-consultas" class="blue-button">Registrarme</button>
        <p class="text-blue">¿Olvidaste tu contraseña?</p>
    </div>
</section>

<app-footer></app-footer>