.home {
    width: 100%;
    padding-bottom: 30px;
    background: #020F59;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    text-align: center;
    max-width: 600px;
    margin: auto;
}

.texto {
    margin-left: 20px;
}

h1 {
    margin: 0;
    color: #FFF;
    font-family: Urbanist;
    font-size: 41px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: -0.41px;
}

h2 {
    margin: 0;
    color: #01DBC6;
    font-family: Urbanist;
    font-size: 41px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: -0.41px;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    width: 250px;
    height: 16px;
    color: #E75132;
    font-family: Urbanist;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: -0.18px;
}