<app-nav></app-nav>

<section class="home">
    <div class="content">
        <video id="miVideo" src="/assets/video.mp4" autoplay muted style="display: none;"></video>
        <div class="fondo" id="fondo">
            <div class="cont">
                <img src="/assets/icono.png" alt="icono">
                <div>
                    <p>Aguarde un instante estamos conectando con el especialista</p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="image-container">
                <a routerLink="/dashboard">
                <img src="/assets/telefono.png" alt="telefono" class="logo mr-2" routerLink="/carga">
                </a>
            </div>
        </div>

        <div class="inferior">
            <img src="/assets/chat.png" alt="chat">
            <img src="/assets/camara.png" alt="camara" >
            <div id="contador">00:00:00</div>
            <img src="/assets/bocina.png" alt="bocina" >
            <img src="/assets/tresPuntos.png" alt="puntos">
        </div>

    </div>
</section>

<app-footer></app-footer>